# 秘匿情報
.env

# 一時ファイル・音声データ
temp_file/*.wav
voice_data/*.wav

*.wav
*.mp3

# エディタ設定
.vscode/

# データベース・記憶データ
chroma_db/

# Pythonのキャッシュと仮想環境
__pycache__/
*.pyc
venv/
.venv/
.venv2/
.venv5/
.venv6/